/* Styling for the entire document */
*
{
  box-sizing: border-box; /* Uses border-box in all elements. */
}

body
{
  font-family: "Source Code Pro", monospace; 
  font-size: 18px; 
  line-height: 2; 
  color: #33ff33;
  background-color: #161447; /* Set dark blue as background for the "vs code" appearance */
  margin: 2rem;
  padding: 2rem;
  border: 2px solid #33ff33;
}

/* Styling for main heading */
h1
{
    font-family: "Shadows Into Light", cursive;
    font-size:2.0rem;
    text-shadow: 3px 3px 5px rgba(247, 28, 181); /* To give Fresh Prince of Bel-Air look */
    text-align: center; /* To center name */

}

h1:hover 
{
  font-size: 5em; /* Animation to help stand out */
}
/* Styling for sub-heading */
h2
{
  font-size: 1.6rem; 
  font-weight: 600; /* Makes it slightly bolder for differentiation. */
  text-transform: uppercase; /* Converts text to uppercase for visual prominence. */
  color: purple;
}

h2:nth-child(1):hover{ /* set contact me H2 hilight color to help stand out */
    color: aqua;
}

/* Styling for sub-sub-heading */
h3
{
  font-size: 1.2rem; 
  color:cyan
}

/* Apply padding below headers to provide spacing and ensure content doesn't feel cramped. */
h1, h2, h3
{
  padding-bottom: 1rem;
}

p, li, table, form
{
  font-size: 0.8rem;
}

header section
{
  display: flex;
  justify-content: space-between; /* Separates items from each other in the x-axis. */
  height: 20rem;
}

header section .image-container
{
  align-self: flex-start; /* Positions itself to the start of y-axis. */

  /* Makes the image shape square. */
  width: 15rem;
  height: 15rem;
}

header section .image-container img
{
  display: block;

  /* Fits the image into the container div. */
  width: 100%;
  height: 100%;

  border-radius: 50%; /* Rounds the image. */

  object-fit: cover; /* Preserves the original aspect ratio. */
  object-position: 100% 20%; /* Makes the face visible moving the image down. */
}

header section .name-container
{
  align-self: center; /* Positions itself to the center of y-axis. */
  
}

header section .information-container
{
  align-self: flex-end; /* Positions itself to the end of y-axis. */
}

/* Technologies SECTION */
.technologies .container
{
  display: flex;
  justify-content: space-between;
}

/* MAIN - Tools SECTION */
.tools .container
{
  display: flex;
  justify-content: center;
}

/* MAIN - Contact SECTION */
.contact .form-container
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .text-input-container,
.contact .select-container,
.contact .checkbox-container
{
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.contact .text-input-container label,
.contact .select-container label
{
  flex-grow: 1;
}

.contact .text-input-container input,
.contact .text-input-container textarea,
.contact .select-container select
{
  width: 20rem;
}

.contact .text-input-container textarea
{
  height: 10rem;
}

.contact .button-container
{
  display: flex;
  justify-content: flex-end;
}

.contact .button-container button[type=reset]
{
  margin-right: 1rem;
}


h3:nth-child(1):hover{
    color: rgb(255, 0, 212);
}
h3:nth-child(2):hover{
    color: rgb(255, 0, 212);
}

h4
{
    color: oldlace;
    text-transform: uppercase;
    text-align: center;
}

h4:hover{
    color:coral;
}

h6
{
  color:aqua;
  font-size: 1rem
}
/* Styling for paragraph */
p
{
  font-size: 1rem; 
  color: deeppink;
}

/* Styling for hyperlinks */
a
{
  text-decoration:none; /* Removing default underline from links */
  color: #f0f40e; /* colored yellow to stand out */
}

/* Styling for list items */
li
{
  font-size: 0.8rem; 
}

/* Styling for table */
table
{
  font-size: 0.8rem; 
  border:2px solid hotpink;
}

thead
{ 
    color: chocolate;
    text-decoration: underline;
    font-size: 1rem;
}

td:nth-child(1):hover{
    color: rgb(161, 20, 255);
}
td:nth-child(2):hover{
    color: deeppink;
}
td:nth-child(3):hover{
    color: rgb(20, 141, 255);
}


/* Styling for form */
form
{
  font-size: 1rem; 
}

form input,
form textarea,
form select
{
  padding: 0.1rem 0.2rem;
  color: #33ff33;
  border: 2px dotted #33e7ff;
  background-color: #131313;
}

form fieldset
{
  border: none;
}

form button
{
  padding: 0.5rem 1rem;
  color: #33ff33;
  border: 2px solid #33ff33;
  background-color: #131313;
}

/* Remove outlines from form elements, ensuring a cleaner look. */
form input,
form textarea
{
  outline: none;
}

/* styling for profile image */
.image-container img
{
  border-radius: 55%;
}

.border-solid
{
  border: 3px solid #33ffee;
}

/* main section styling*/
main section,
footer section
{
  margin: 4rem 0;
  border-top: 1px solid #33ff33;
}

.contact 
{
  border: none;  /* removes border from "contact me"*/
}

/* Styling for screens up to 480px */
@media (max-width: 480px) 
{
  body {
    font-size: 16px; /* Decrease font size for better readability on smaller screens */
    margin: 1rem; /* Reduce margin for smaller screens */
    padding: 1rem; /* Reduce padding for smaller screens */
  }

  header section {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    height: auto; /* Adjust height to fit content */
    text-align: center; /* Center-align content */
  }

  header section .image-container #profile-pic {
    width: 10rem; /* Reduce image container width for smaller screens */
    height: 10rem; /* Reduce image container height for smaller screens */
    margin-bottom: 1rem; /* Add margin below image container */
  }

  header section .name-container {
    align-items: center; /* Center-align name */
  }

  header section .information-container {
    /*margin-top: 1rem; /* Add margin above information container */
    font-size: small;
    align-items: start;
  } 

  .technologies .container
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main section,
  footer section {
    margin: 2rem 0; /* Adjust margin for main and footer sections */
  }

  .contact .form-container,
  .projects .message-container {
    margin-top: 1rem; /* Add margin above form container and message container */
  }

  form,
  form input,
  form textarea,
  form select {
    font-size: 0.8rem; /* Decrease font size for form elements */
  }

}

@media (min-width: 1080px) 
{
  header section .image-container #profile-pic {
    width: 15rem; 
    height: 15rem; 
    margin-bottom: 1rem; 
  }
}